details {
    background-color: lightblue;
}

.parrafoResaltado {
    font-size: 24px;
    padding: 40px;
    border: double 6px white;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: gold;
}

#parrafoEspecial {
    background-color: chartreuse;
    border-radius: 80px;
    padding: 50px;
}

#parrafoEspecial:hover {
    background-color: burlywood;
    border-radius: 80px;
    padding: 50px
}

p:hover{
    text-decoration: underline;
    transform: scale(105%);
}

body {
    background-image: url(../imgs/copa\ del\ mundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}